In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import scipy as sc

In [3]:
data=pd.read_csv('D:/ICT Data Science/Week 8/Assignment/Sales_add.csv')
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [4]:
data.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [5]:
data.shape

(22, 5)

# a. to clarify whether there is any increase in sales after stepping into digital marketing.

In [6]:
#Null Hypothesis,H0 : There is no increase in sales after stepping into digital marketing.
#Alternative Hypothesis,H1 : There is an increase in sales after stepping into digital marketing.

In [7]:
data.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [9]:
t_value ,p_value = stats.ttest_ind(data["Sales_After_digital_add(in $)"],data["Sales_before_digital_add(in $)"])
t_value, p_value

(12.995084451110877, 2.614368006904645e-16)

In [10]:
t_critical = stats.t.ppf(1-0.05 ,42)
t_critical

1.6819523559426

In [14]:
if np.abs(t_value) > t_critical:
  print("We can Reject the Null Hypothesis, H0:There is no increase in sales after stepping into digital marketing. \nThis means that there is an increase in sales after stepping into digital marketing." )
else:
  print("We can reject the Alternate hypothesis, H1:There is no increase in sales after stepping into digital marketing.\nThis means that there is no increase in sales after stepping into digital marketing.")

We can Reject the Null Hypothesis, H0:There is no increase in sales after stepping into digital marketing.
This means that there is an increase in sales after stepping into digital marketing.

# b. to check whether there is any dependency between the features “Region” and “Manager”.

In [15]:
#Null hypothesis,H0 : There is no dependancy between the features "Region" and "Manager"
#Alternate hypothesis,H1 : There is a dependancy between the features "Region" and "Manager"

In [18]:
data1=data.groupby('Region')['Manager'].value_counts()
data1

Region      Manager
Region - A  Manager - A    4
            Manager - B    3
            Manager - C    3
Region - B  Manager - A    4
            Manager - C    2
            Manager - B    1
Region - C  Manager - B    3
            Manager - A    1
            Manager - C    1
Name: Manager, dtype: int64

In [23]:
data2= pd.crosstab(data["Region"] ,data["Manager"] , margins = False)
data2

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [28]:
chivalue,p_value,dof,exp_values=stats.chi2_contingency(data2) # to perform the Chi-Square Test of Independence

In [25]:
print('Chi sqaure Test Statistic:',chivalue)

Chi sqaure Test Statistic: 3.050566893424036

In [26]:
print('Pvalue of test data;',p_value)

Pvalue of test data; 0.5493991051158094

In [29]:
print('Degrees of Freedom:',dof)

Degrees of Freedom: 4

In [30]:
print('expected observations of data:',exp_values)

expected observations of data: [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

In [33]:
chi_criteria=stats.chi2.ppf(1-0.05,4)
stats.chi2.ppf(1-0.05,df=4)

9.487729036781154

In [34]:
if(chivalue>chi_criteria and pvalue<0.05):
    print('Reject, Null hypothesis,H0 : There is no dependancy between the features "Region" and "Manager"')
else:
    print('Reject, Alternate hypothesis,H1 : There is a dependancy between the features "Region" and "Manager"')

Reject, Alternate hypothesis,H1 : There is a dependancy between the features "Region" and "Manager"

This clearly shows that the feaures "Region" and "Manager" are not dependant .